set bell-style none
set meta-flag on
set input-meta on
set convert-meta off
set output-meta on
set show-all-if-ambiguous on
set editing-mode vi
set completion-ignore-case on
set completion-prefix-display-length 2
set show-mode-in-prompt on

set vi-ins-mode-string \1\e[1;31m\e[48;5;246m\e[38;5;235m\2 N \1\e[0m\2
set vi-cmd-mode-string \1\e[1;31m\e[48;5;109m\e[38;5;235m\2 I \1\e[0m\2
#set vi-cmd-mode-string \1\e[48;5;166;1m\2 N \1\e[38;5;166;48;5;31;1m\2\1\e[0m\2


$if mode=vi
set keymap vi-command
"\e[A": history-search-backward            
"\e[B": history-search-forward            
Control-l: clear-screen
v: ""
set keymap vi-insert
"\e[A": history-search-backward
"\e[B": history-search-forward
Control-f: menu-complete
Control-b: menu-complete-backward
"jj": vi-movement-mode
Control-l: clear-screen
$endif
