Xft.dpi: 120
URxvt.font: -gohu-gohufont-medium-r-normal--14-100-100-100-c-80-iso10646-1
URxvt.boldFont: -gohu-gohufont-bold-r-normal--14-100-100-100-c-80-iso10646-1
URxvt.allow_bold: true
URxvt.internalBorder: 4
URxvt.letterSpace: 0
URxvt.cursorBlink: true
URxvt.scrollBar: false
URxvt.saveLines: 0
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.perl-ext:
URxvt.perl-ext-common:
URxvt.cursorUnderline: 1
URxvt.scrollTtyKeypress:  true
URxvt.scrollTtyOutput:  false
URxvt.scrollWithBuffer:  false
URxvt.skipScroll:  true
!URxvt.geometry: 174x59
URxvt.depth: 32
URxvt.background: [85]#121212

*background: #121112
*foreground: #D0CFD0
*color0:#121112
*color8:#6C6C6C
*color1:#D7005F
*color9:#D74083
*color2:#87FF00
*color10:#93FF19
*color3:#FF8700
*color11:#FF9926
*color4:#005F87
*color12:#387BAB
*color5:#AF5FFF
*color13:#B973FF
*color6:#81C1C1
*color14:#5FD7FF
*color7:#AFAF87
*color15:#D0D0D0
*colorUL: #5FD7FF

